@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@700&family=Big+Shoulders+Text:wght@700&family=Sofia+Sans:wght@400;700&display=swap');
:root{
  --grey: #9B9999;
  --white: #FFFFFF;
  --yellow: #ECECAB; 
  --red: #EA8282;
  --green: #A0F3AD;
}
body{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Sofia Sans', sans-serif;
}
.appContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
}